/* line 8, e:\workshopEdu\workshopEdu\css\app */
.header-top {
  background-color: #2d343e;
  padding: 8px 0;
}
/* line 12, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top {
  float: right;
}
/* line 14, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 19, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li {
  display: inline;
  color: #d0dbeb;
}
/* line 22, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li a {
  color: #d0dbeb;
}
/* line 28, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone {
  background: url(http://www.ansonika.com/edu/img/icon-phone.png) no-repeat center right;
  padding-right: 46px;
  text-align: right;
  float: right;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}
/* line 37, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone strong {
  font-size: 18px;
  color: #66cccc;
  font-weight: 700;
  display: block;
}
/* line 47, e:\workshopEdu\workshopEdu\css\app */
.navbar {
  background-color: #0099cc;
  margin-bottom: 0;
}
/* line 50, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 54, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-brand {
  color: #FF9;
}
/* line 58, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li {
  position: inherit;
}
/* line 60, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li > a {
  color: #fff;
}
/* line 64, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown {
  position: absolute;
}
/* line 67, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown.simple-drop {
  position: relative;
}
/* line 71, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown-menu {
  background-color: #2d343e;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 5%;
}
/* line 90, e:\workshopEdu\workshopEdu\css\app */
#about .about {
  background-color: #2d343e;
}
/* line 92, e:\workshopEdu\workshopEdu\css\app */
#about .about h4 {
  margin: 0 0 10px 0;
  color: #fff;
}
/* line 96, e:\workshopEdu\workshopEdu\css\app */
#about .about .list-menu {
  margin: 0 0 20px 0;
  padding-left: 5px;
}
/* line 100, e:\workshopEdu\workshopEdu\css\app */
#about .about .list-menu a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #12b0e6;
}
/* line 105, e:\workshopEdu\workshopEdu\css\app */
#about .about .list-menu a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 111, e:\workshopEdu\workshopEdu\css\app */
#about .about .btn {
  background-color: #099ad1;
  color: #fff;
}
/* line 116, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-pane {
  color: #fff;
}
/* line 118, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-pane .management {
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
}
/* line 124, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-pane .business {
  background: url(http://www.ansonika.com/edu/img/teacher-small-2.jpg) no-repeat;
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
}
/* line 130, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-pane .admin {
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small-3.jpg) no-repeat;
}
/* line 139, e:\workshopEdu\workshopEdu\css\app */
#pages .pages {
  background-color: #2d343e;
}
/* line 141, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a {
  display: block;
  background-color: #424952;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px 15px;
  margin-bottom: 25px;
  color: #fff;
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}
/* line 155, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a:hover {
  transition: background .5s;
  background-color: #0099cc;
  text-decoration: none;
}
/* line 163, e:\workshopEdu\workshopEdu\css\app */
#simple-drop {
  background-color: #0099cc;
  margin-top: 5px;
  border-radius: 10px;
}
/* line 167, e:\workshopEdu\workshopEdu\css\app */
#simple-drop li a {
  color: #fff;
}
/* line 173, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts {
  background-color: #2d343e;
  color: #fff;
}
/* line 176, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts h4 {
  margin: 0 0 10px 0;
}
/* line 179, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 182, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul .glyphicon {
  margin-right: .4em;
}
/* line 185, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul li a {
  color: #12b0e6;
}
/* line 189, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts hr {
  margin: 0 0 20px 0;
  border-top: 1px solid #25282d;
  border-bottom: 1px solid #414750;
}
/* line 194, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts h5 {
  margin: 0 0 10px 0;
  font-weight: bold;
}
/* line 199, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts .btn {
  background-color: #ff6666;
}
/* line 205, e:\workshopEdu\workshopEdu\css\app */
.main-boxes {
  margin-top: -35px;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}
/* line 212, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box a {
  color: #fff;
  display: block;
  font-size: 14px;
  text-shadow: 1px 1px 0 px rgba(0, 0, 0, 0.3);
  padding: 25px 25px 5px 25px;
  text-decoration: none;
  font-weight: 700;
  background-color: #0099cc;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* line 224, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FF9;
  font-size: 28px;
}
/* line 232, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .green a:hover {
  transition: background-color 0.8s;
  background-color: #669933;
}
/* line 237, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .orange a:hover {
  transition: background-color 0.8s;
  background-color: #F60;
}
/* line 241, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .red a:hover {
  transition: background-color 0.8s;
  background-color: #ff6666;
}
