/* line 11, e:\workshopEdu\workshopEdu\css\app */
body {
  background: #f8f8f8 url(http://www.ansonika.com/edu/img/pattern.jpg) repeat;
  color: #555;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 17, e:\workshopEdu\workshopEdu\css\app */
header,
section,
nav {
  color: #fff;
}
/* line 21, e:\workshopEdu\workshopEdu\css\app */
.header-top {
  background-color: #2d343e;
  padding: 8px 0;
}
/* line 25, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top {
  float: right;
}
/* line 27, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li {
  display: inline;
  color: #d0dbeb;
}
/* line 35, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li a {
  color: #d0dbeb;
}
/* line 41, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone {
  background: url(http://www.ansonika.com/edu/img/icon-phone.png) no-repeat center right;
  padding-right: 46px;
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
/* line 49, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone strong {
  font-size: 18px;
  color: #66cccc;
  font-weight: 700;
  display: block;
}
/* line 59, e:\workshopEdu\workshopEdu\css\app */
.navbar {
  background-color: #0099cc;
  margin-bottom: 0;
}
/* line 62, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 66, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-brand {
  color: #FF9;
}
/* line 70, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li {
  position: inherit;
}
/* line 72, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li > a {
  color: #fff;
}
/* line 76, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown {
  position: absolute;
}
/* line 79, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown.simple-drop {
  position: relative;
}
/* line 83, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown-menu {
  background-color: #2d343e;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 5%;
}
/* line 91, e:\workshopEdu\workshopEdu\css\app */
.btn-red {
  background-color: #ff6666;
}
/* line 95, e:\workshopEdu\workshopEdu\css\app */
.btn-red:hover {
  transition: background-color 0.5s;
  background-color: #099ad1;
  color: #fff;
}
/* line 101, e:\workshopEdu\workshopEdu\css\app */
.btn-blue {
  background-color: #099ad1;
  color: #fff;
}
/* line 106, e:\workshopEdu\workshopEdu\css\app */
.btn-blue:hover {
  transition: background-color 0.5s;
  background-color: #333;
  color: #fff;
}
/* line 112, e:\workshopEdu\workshopEdu\css\app */
hr {
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #25282d;
  border-bottom: 1px solid #414750;
}
/* line 119, e:\workshopEdu\workshopEdu\css\app */
h4 {
  margin: 0 0 10px 0;
}
/* line 123, e:\workshopEdu\workshopEdu\css\app */
h5 {
  margin: 0 0 10px 0;
  font-weight: bold;
}
/* line 128, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding-left: 5px;
}
/* line 132, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu li {
  background: url(http://www.ansonika.com/edu/img/arrow-2.png) no-repeat center left;
  padding-left: 12px;
}
/* line 136, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu a {
  color: #12b0e6;
}
/* line 141, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 148, e:\workshopEdu\workshopEdu\css\app */
#courses .courses {
  background-color: #2d343e;
}
/* line 152, e:\workshopEdu\workshopEdu\css\app */
#courses .courses h5 a {
  color: #12b0e6;
}
/* line 155, e:\workshopEdu\workshopEdu\css\app */
#courses .courses h5 a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 165, e:\workshopEdu\workshopEdu\css\app */
#school .school {
  background-color: #2d343e;
}
/* line 173, e:\workshopEdu\workshopEdu\css\app */
#about .about {
  background-color: #2d343e;
}
/* line 176, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs {
  border-bottom: 2px solid #414750;
}
/* line 179, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li.active a {
  color: #fff;
  background-color: #0f91bd;
}
/* line 184, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li {
  background-color: #424952;
}
/* line 186, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li a {
  color: #12b0e6;
}
/* line 189, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li a:hover {
  color: #fff;
  background-color: #424952;
}
/* line 198, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .management {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
}
/* line 204, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .business {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  background: url(http://www.ansonika.com/edu/img/teacher-small-2.jpg) no-repeat;
}
/* line 208, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .admin {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  background: url(http://www.ansonika.com/edu/img/teacher-small-3.jpg) no-repeat;
}
/* line 212, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff h5 em {
  display: block;
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
/* line 224, e:\workshopEdu\workshopEdu\css\app */
#pages .pages {
  background-color: #2d343e;
}
/* line 226, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a {
  display: block;
  background-color: #424952;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}
/* line 239, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a i {
  float: right;
  margin: -10px 0 0 0;
}
/* line 244, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a:hover {
  transition: background .5s;
  background-color: #0099cc;
  text-decoration: none;
}
/* line 252, e:\workshopEdu\workshopEdu\css\app */
#simple-drop {
  background-color: #0099cc;
  margin-top: 5px;
  border-radius: 10px;
}
/* line 256, e:\workshopEdu\workshopEdu\css\app */
#simple-drop li a {
  color: #fff;
}
/* line 262, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts {
  background-color: #2d343e;
}
/* line 264, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 267, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul .glyphicon {
  margin-right: .4em;
}
/* line 270, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul li a {
  color: #12b0e6;
}
/* line 279, e:\workshopEdu\workshopEdu\css\app */
.slider .flyin-img {
  position: absolute;
  top: 25%;
  right: 40%;
}
/* line 286, e:\workshopEdu\workshopEdu\css\app */
.main-boxes {
  margin-top: -35px;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}
/* line 293, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box a {
  display: block;
  font-size: 14px;
  text-shadow: 1px 1px 0 px rgba(0, 0, 0, 0.3);
  padding: 25px 25px 5px 25px;
  text-decoration: none;
  font-weight: 700;
  background-color: #0099cc;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* line 305, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FF9;
  font-size: 28px;
  font-weight: bold;
}
/* line 312, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box img {
  float: right;
  height: auto;
  border: 0;
  vertical-align: middle;
}
/* line 320, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .green a:hover {
  transition: background-color 0.8s;
  background-color: #669933;
}
/* line 325, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .orange a:hover {
  transition: background-color 0.8s;
  background-color: #F60;
}
/* line 329, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .red a:hover {
  transition: background-color 0.8s;
  background-color: #ff6666;
}
