/* line 11, e:\workshopEdu\workshopEdu\css\app */
body {
  background: #f8f8f8 url(http://www.ansonika.com/edu/img/pattern.jpg) repeat;
  color: #555;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 17, e:\workshopEdu\workshopEdu\css\app */
header,
section,
nav {
  color: #fff;
}
/* line 21, e:\workshopEdu\workshopEdu\css\app */
.header-top {
  background-color: #2d343e;
  padding: 8px 0;
}
/* line 25, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top {
  float: right;
}
/* line 27, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 32, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li {
  display: inline;
  color: #d0dbeb;
}
/* line 35, e:\workshopEdu\workshopEdu\css\app */
.header-top .menu-top li a {
  color: #d0dbeb;
}
/* line 41, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone {
  background: url(http://www.ansonika.com/edu/img/icon-phone.png) no-repeat center right;
  padding-right: 46px;
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 5px;
}
/* line 49, e:\workshopEdu\workshopEdu\css\app */
.header-top #phone strong {
  font-size: 18px;
  color: #66cccc;
  font-weight: 700;
  display: block;
}
/* line 59, e:\workshopEdu\workshopEdu\css\app */
.navbar {
  background: #0099cc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  margin-bottom: 0;
}
/* line 62, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
/* line 66, e:\workshopEdu\workshopEdu\css\app */
.navbar .navbar-brand {
  color: #FF9;
}
/* line 70, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li {
  position: inherit;
}
/* line 72, e:\workshopEdu\workshopEdu\css\app */
.navbar .nav > li > a {
  color: #fff;
}
/* line 76, e:\workshopEdu\workshopEdu\css\app */
.navbar #simple-drop {
  position: absolute;
}
/* line 81, e:\workshopEdu\workshopEdu\css\app */
.navbar .dropdown-menu {
  background-color: #2d343e;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 0 9%;
}
/* line 89, e:\workshopEdu\workshopEdu\css\app */
.btn-red {
  background-color: #ff6666;
  color: #fff;
}
/* line 94, e:\workshopEdu\workshopEdu\css\app */
.btn-red:hover {
  transition: background-color 0.5s;
  background-color: #099ad1;
  color: #fff;
}
/* line 100, e:\workshopEdu\workshopEdu\css\app */
.btn-blue {
  background-color: #099ad1;
  color: #fff;
}
/* line 105, e:\workshopEdu\workshopEdu\css\app */
.btn-blue:hover {
  transition: background-color 0.5s;
  background-color: #333;
  color: #fff;
}
/* line 111, e:\workshopEdu\workshopEdu\css\app */
hr {
  margin: 0 0 20px 0;
  border: 0;
  border-top: 1px solid #25282d;
  border-bottom: 1px solid #414750;
}
/* line 118, e:\workshopEdu\workshopEdu\css\app */
hr.double {
  margin: 10px 0 20px 0;
  border: 0;
  border-top: 1px solid #cedee7;
  border-bottom: 1px solid #fff;
}
/* line 125, e:\workshopEdu\workshopEdu\css\app */
h4 {
  margin: 0 0 10px 0;
}
/* line 129, e:\workshopEdu\workshopEdu\css\app */
h5 {
  margin: 0 0 10px 0;
  font-weight: bold;
}
/* line 134, e:\workshopEdu\workshopEdu\css\app */
ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 139, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding-left: 5px;
}
/* line 143, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu li {
  background: url(http://www.ansonika.com/edu/img/arrow-2.png) no-repeat center left;
  padding-left: 12px;
}
/* line 147, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu a {
  color: #12b0e6;
}
/* line 152, e:\workshopEdu\workshopEdu\css\app */
ul.list-menu a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 158, e:\workshopEdu\workshopEdu\css\app */
ul.list {
  list-style: none;
}
/* line 160, e:\workshopEdu\workshopEdu\css\app */
ul.list li {
  background: url(http://www.ansonika.com/edu/img/arrow_2.png) no-repeat 3px 5px;
  padding-left: 20px;
}
/* line 166, e:\workshopEdu\workshopEdu\css\app */
.col-left {
  padding: 30px 30px 15px 30px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* line 175, e:\workshopEdu\workshopEdu\css\app */
#courses .courses {
  background-color: #2d343e;
}
/* line 179, e:\workshopEdu\workshopEdu\css\app */
#courses .courses h5 a {
  color: #12b0e6;
}
/* line 182, e:\workshopEdu\workshopEdu\css\app */
#courses .courses h5 a:hover {
  color: #fff;
  text-decoration: none;
}
/* line 192, e:\workshopEdu\workshopEdu\css\app */
#school .school {
  background-color: #2d343e;
}
/* line 199, e:\workshopEdu\workshopEdu\css\app */
#about .about {
  background-color: #2d343e;
}
/* line 202, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs {
  border-bottom: 2px solid #414750;
}
/* line 205, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li.active a {
  color: #fff;
  background-color: #0f91bd;
}
/* line 210, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li {
  background-color: #424952;
}
/* line 212, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li a {
  color: #12b0e6;
}
/* line 215, e:\workshopEdu\workshopEdu\css\app */
#about .about .nav.nav-tabs li a:hover {
  color: #fff;
  background-color: #424952;
}
/* line 224, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .management {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
}
/* line 230, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .business {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  background: url(http://www.ansonika.com/edu/img/teacher-small-2.jpg) no-repeat;
}
/* line 234, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff .admin {
  height: 150px;
  border-radius: 10px;
  margin: 10px 10px;
  background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
  background: url(http://www.ansonika.com/edu/img/teacher-small-3.jpg) no-repeat;
}
/* line 238, e:\workshopEdu\workshopEdu\css\app */
#about .about .tab-content #staff h5 em {
  display: block;
  font-weight: normal;
  color: #999;
  font-size: 12px;
}
/* line 250, e:\workshopEdu\workshopEdu\css\app */
#pages .pages {
  background-color: #2d343e;
}
/* line 252, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a {
  display: block;
  background-color: #424952;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 15px;
  margin-bottom: 25px;
  -webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
}
/* line 265, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a i {
  float: right;
  margin: -10px 0 0 0;
}
/* line 270, e:\workshopEdu\workshopEdu\css\app */
#pages .pages a:hover {
  transition: background .5s;
  background-color: #0099cc;
  text-decoration: none;
}
/* line 278, e:\workshopEdu\workshopEdu\css\app */
#simple-drop {
  background-color: #0099cc;
  margin-top: 5px;
  border-radius: 10px;
}
/* line 282, e:\workshopEdu\workshopEdu\css\app */
#simple-drop li a {
  color: #fff;
}
/* line 288, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts {
  background-color: #2d343e;
}
/* line 290, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 293, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul .glyphicon {
  margin-right: .4em;
}
/* line 296, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul li a {
  color: #12b0e6;
}
/* line 299, e:\workshopEdu\workshopEdu\css\app */
#contacts .contacts ul li a:hover {
  color: #fff;
}
/* line 308, e:\workshopEdu\workshopEdu\css\app */
.slider .carousel {
  height: 500px;
}
/* line 313, e:\workshopEdu\workshopEdu\css\app */
.slider .carousel-roll .carousel-inner .item .bg {
  width: 1920px;
  min-width: 1920px;
  height: 500px;
  left: -285.5px;
  position: relative;
}
/* line 326, e:\workshopEdu\workshopEdu\css\app */
.slider .flyin-img {
  transition-property: right, bottom;
  transition-duration: 1s, 1s;
  transition-timing-function: ease-in;
  transition-delay: 0.5s;
  bottom: -800px;
  right: 40%;
  position: absolute;
}
/* line 336, e:\workshopEdu\workshopEdu\css\app */
.slider #icon1 {
  top: 18%;
  left: 23%;
  position: absolute;
}
/* line 341, e:\workshopEdu\workshopEdu\css\app */
.slider #icon2 {
  bottom: 18%;
  left: 25%;
  position: absolute;
}
/* line 346, e:\workshopEdu\workshopEdu\css\app */
.slider #icon3 {
  top: 18%;
  right: 30%;
  position: absolute;
}
/* line 351, e:\workshopEdu\workshopEdu\css\app */
.slider #icon4 {
  bottom: 20%;
  right: 30%;
  position: absolute;
}
/* line 357, e:\workshopEdu\workshopEdu\css\app */
.slider .active > .flyin-img {
  bottom: 30%;
}
/* line 361, e:\workshopEdu\workshopEdu\css\app */
.slider .active > #icon1 {
  -webkit-animation: icon-animate1 2.5s linear;
}
@-webkit-keyframes icon-animate1 {
  /* line 366, e:\workshopEdu\workshopEdu\css\app */
  from {
    top: -800px;
    left: -800px;
  }
  /* line 370, e:\workshopEdu\workshopEdu\css\app */
  to {
    top: 18%;
    left: 23%;
  }
}
/* line 376, e:\workshopEdu\workshopEdu\css\app */
.slider .active > #icon2 {
  -webkit-animation: icon-animate2 3s linear;
}
@-webkit-keyframes icon-animate2 {
  /* line 381, e:\workshopEdu\workshopEdu\css\app */
  from {
    bottom: -800px;
    left: -800px;
  }
  /* line 385, e:\workshopEdu\workshopEdu\css\app */
  to {
    bottom: 18%;
    left: 25%;
  }
}
/* line 391, e:\workshopEdu\workshopEdu\css\app */
.slider .active > #icon3 {
  -webkit-animation: icon-animate3 3.5s linear;
}
@-webkit-keyframes icon-animate3 {
  /* line 396, e:\workshopEdu\workshopEdu\css\app */
  from {
    top: -800px;
    right: -800px;
  }
  /* line 400, e:\workshopEdu\workshopEdu\css\app */
  to {
    top: 18%;
    right: 30%;
  }
}
/* line 406, e:\workshopEdu\workshopEdu\css\app */
.slider .active > #icon4 {
  -webkit-animation: icon-animate4 4s linear;
}
@-webkit-keyframes icon-animate4 {
  /* line 411, e:\workshopEdu\workshopEdu\css\app */
  from {
    bottom: -800px;
    right: -800px;
  }
  /* line 415, e:\workshopEdu\workshopEdu\css\app */
  to {
    bottom: 20%;
    right: 30%;
  }
}
/* line 421, e:\workshopEdu\workshopEdu\css\app */
.slider .caption {
  position: absolute;
  bottom: 30%;
  right: 10%;
}
/* line 426, e:\workshopEdu\workshopEdu\css\app */
.slider .caption .caption-text {
  text-shadow: none;
  font-weight: 800;
  font-size: 45px;
  line-height: 60px;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
  padding-top: 1px;
  padding: 0 15px;
  background-color: #2d343e;
}
/* line 440, e:\workshopEdu\workshopEdu\css\app */
.slider .caption .btn.btn-blue.btn-lg {
  float: right;
}
/* line 446, e:\workshopEdu\workshopEdu\css\app */
.main-boxes {
  margin-top: -35px;
  position: relative;
  z-index: 1;
  margin-bottom: 35px;
}
/* line 453, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box a {
  -webkit-box-shadow: 0 10px 12px -6px rgba(0, 0, 0, 0.4), inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  display: block;
  font-size: 14px;
  text-shadow: 1px 1px 0 px rgba(0, 0, 0, 0.3);
  padding: 25px 25px 5px 25px;
  text-decoration: none;
  font-weight: 700;
  background-color: #0099cc;
  color: #fff;
  margin-bottom: 15px;
  border-radius: 5px;
}
/* line 466, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FF9;
  font-size: 28px;
  font-weight: bold;
}
/* line 473, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .box img {
  float: right;
  height: auto;
  border: 0;
  vertical-align: middle;
}
/* line 480, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .green a:hover {
  transition: background-color 0.8s;
  background-color: #669933;
}
/* line 485, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .orange a:hover {
  transition: background-color 0.8s;
  background-color: #F60;
}
/* line 489, e:\workshopEdu\workshopEdu\css\app */
.main-boxes .red a:hover {
  transition: background-color 0.8s;
  background-color: #ff6666;
}
/* line 495, e:\workshopEdu\workshopEdu\css\app */
.ribbon-box {
  background: #eaf9ff url(http://www.ansonika.com/edu/img/sticker-1.png) no-repeat top right;
  padding: 30px 30px 10px 30px;
  -webkit-box-shadow: inset 0 0 0 5px rgba(200, 200, 200, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.35);
  border: 1px solid #fff;
  border-radius: 5px;
  color: #2e415c;
  position: relative;
  margin-bottom: 20px;
}
/* line 505, e:\workshopEdu\workshopEdu\css\app */
.ribbon-box .feat {
  padding-left: 60px;
  position: relative;
  margin-bottom: 20px;
}
/* line 510, e:\workshopEdu\workshopEdu\css\app */
.ribbon-box .feat i {
  color: #ff6666;
  position: absolute;
  left: 0;
}
/* line 517, e:\workshopEdu\workshopEdu\css\app */
.img-rounded {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  border-radius: 6px;
}
/* line 525, e:\workshopEdu\workshopEdu\css\app */
.col-right {
  padding: 30px 30px 15px 30px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-bottom: 60px;
}
/* line 528, e:\workshopEdu\workshopEdu\css\app */
.col-right .strip-lessons {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
/* line 533, e:\workshopEdu\workshopEdu\css\app */
.col-right .box-course {
  border-radius: 5px;
  background: #eaf9ff;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
/* line 539, e:\workshopEdu\workshopEdu\css\app */
.col-right .box-course h5 {
  background: #2d343e;
  bottom: 0;
  left: 0;
  padding: 4px 0;
  color: #eaf9ff;
  text-transform: uppercase;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 549, e:\workshopEdu\workshopEdu\css\app */
.col-right .box-course img {
  max-width: 100%;
  margin: 30px 0 15px 0;
}
/* line 553, e:\workshopEdu\workshopEdu\css\app */
.col-right .box-course img.picture {
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 559, e:\workshopEdu\workshopEdu\css\app */
.col-right ul.data-lessons {
  margin-left: 0;
  padding-left: 0;
}
/* line 562, e:\workshopEdu\workshopEdu\css\app */
.col-right ul.data-lessons li {
  display: inline-block;
  margin-right: 8px;
  padding-right: 8px;
  border-right: 1px solid #ccc;
  line-height: 16px;
  zoom: 1;
}
/* line 573, e:\workshopEdu\workshopEdu\css\app */
footer {
  background-color: #fff;
  border-top: 1px solid #e0eaf0;
  padding-top: 60px;
  padding-bottom: 45px;
}
/* line 578, e:\workshopEdu\workshopEdu\css\app */
footer .brand-footer {
  text-align: center;
}
/* line 581, e:\workshopEdu\workshopEdu\css\app */
footer .twitter a,
footer .fb a {
  padding: 5px 0 0 20px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  height: 32px;
  display: block;
  text-decoration: none;
  line-height: 23px;
}
/* line 592, e:\workshopEdu\workshopEdu\css\app */
footer .twitter,
footer .fb {
  display: inline-block;
  position: relative;
  background: url(http://www.ansonika.com/edu/img/twitter_btn.png) no-repeat;
  margin-top: 15px;
  width: 157px;
  height: 32px;
}
/* line 600, e:\workshopEdu\workshopEdu\css\app */
footer .fb {
  width: 157px;
  background: url(http://www.ansonika.com/edu/img/fb_btn.png) no-repeat;
}
/* line 604, e:\workshopEdu\workshopEdu\css\app */
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
/* line 607, e:\workshopEdu\workshopEdu\css\app */
footer ul .glyphicon {
  margin-right: .4em;
}
/* line 610, e:\workshopEdu\workshopEdu\css\app */
footer ul li a {
  color: #0088cc;
}
/* line 613, e:\workshopEdu\workshopEdu\css\app */
footer ul li a:hover {
  color: #005580;
}
/* line 617, e:\workshopEdu\workshopEdu\css\app */
footer input {
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 8px #e3e3e3 inset;
}
/* line 624, e:\workshopEdu\workshopEdu\css\app */
#back-to-top {
  text-align: center;
  border: 1px solid #ccc;
  width: 100px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: #333;
  background-color: #f7f7f7;
  font-size: 11px;
  padding: 5px;
  cursor: pointer;
}
/* line 641, e:\workshopEdu\workshopEdu\css\app */
.gallery .thumbnail {
  border: 0px;
  /*img { 
			min-height:168px;
			height:168px;
		}*/
}
/* line 649, e:\workshopEdu\workshopEdu\css\app */
.gallery .photo-icon {
  background: url(http://www.ansonika.com/edu/img/zoom_1.png) no-repeat 10px 10px;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 10;
}
/* line 657, e:\workshopEdu\workshopEdu\css\app */
.gallery .video-icon {
  background: url(http://www.ansonika.com/edu/img/icon_play.png) no-repeat 10px 10px;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 10;
}
/* line 666, e:\workshopEdu\workshopEdu\css\app */
.gallery .thumbnail:hover .photo-icon,
.gallery .thumbnail:hover .video-icon {
  display: inline;
  opacity: 1;
}
/* line 674, e:\workshopEdu\workshopEdu\css\app */
body.modal-open {
  overflow: scroll;
}
/* line 678, e:\workshopEdu\workshopEdu\css\app */
ul.submenu-col {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
}
/* line 685, e:\workshopEdu\workshopEdu\css\app */
ul.submenu-col li a {
  text-decoration: none;
  padding: 4px 10px;
  display: block;
  margin-bottom: 3px;
}
/* line 691, e:\workshopEdu\workshopEdu\css\app */
ul.submenu-col li a:hover {
  background: #efefef;
  border-radius: 3px;
  color: #326e99;
}
/* line 696, e:\workshopEdu\workshopEdu\css\app */
ul.submenu-col li a#active {
  background: #099ad1 url(http://www.ansonika.com/edu/img/arrow.png) no-repeat 96% center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
/* line 707, e:\workshopEdu\workshopEdu\css\app */
.main-img {
  margin: -30px -30px 30px -30px;
  overflow: hidden;
  position: relative;
}
/* line 711, e:\workshopEdu\workshopEdu\css\app */
.main-img img {
  height: auto;
  max-width: 100%;
  border: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 718, e:\workshopEdu\workshopEdu\css\app */
.main-img p.lead {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  bottom: -25px;
  padding: 15px 20px;
  color: #fff;
  line-height: 24px;
}
/* line 731, e:\workshopEdu\workshopEdu\css\app */
.table-bordered thead tr {
  background: -webkit-linear-gradient(top, #eeeeee 0%, #dadada 100%);
  background-repeat: repeat-x;
}
/* line 736, e:\workshopEdu\workshopEdu\css\app */
.table-bordered tbody tr td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #DDD;
}
/* line 740, e:\workshopEdu\workshopEdu\css\app */
.table-bordered tbody tr td:first-child {
  border-left-color: #DDD;
}
/* line 743, e:\workshopEdu\workshopEdu\css\app */
.table-bordered tbody tr:first-child td {
  border-top-color: #CCC;
}
/* line 749, e:\workshopEdu\workshopEdu\css\app */
.button-align {
  text-align: right;
  padding-top: 25px;
}
