/* line 3, e:\workshopEdu\workshopEdu\css\blogSingle */
ul.recent_post li {
  padding: 0 0 8px 0;
  margin-bottom: 15px;
  border-bottom: 1px #e7e7e7 dotted;
  color: #313131;
  list-style: none;
  line-height: 18px;
  padding-bottom: 15px;
  color: #888;
  font-style: italic;
}
/* line 13, e:\workshopEdu\workshopEdu\css\blogSingle */
ul.recent_post li div {
  font-weight: 700;
  padding-left: 25px;
  font-style: normal;
}
/* line 20, e:\workshopEdu\workshopEdu\css\blogSingle */
ul.recent_post li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 26, e:\workshopEdu\workshopEdu\css\blogSingle */
.post img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 18px;
  width: 100%;
}
/* line 34, e:\workshopEdu\workshopEdu\css\blogSingle */
.post .post_info {
  padding: 10px 0;
  border-bottom: 1px #e7e7e7 solid;
  border-top: 1px #e7e7e7 solid;
  margin-bottom: 12px;
  color: #555;
}
/* line 41, e:\workshopEdu\workshopEdu\css\blogSingle */
.post .post_info .post-left {
  float: left;
}
/* line 43, e:\workshopEdu\workshopEdu\css\blogSingle */
.post .post_info .post-left ul li {
  float: left;
  margin-right: 10px;
  list-style: none;
}
/* line 48, e:\workshopEdu\workshopEdu\css\blogSingle */
.post .post_info .post-left span {
  color: #ff6666;
}
/* line 52, e:\workshopEdu\workshopEdu\css\blogSingle */
.post .post_info .post-right {
  float: right;
}
/* line 59, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments ol li ul li {
  padding: 23px 0 0 30px;
  margin: 0;
}
/* line 63, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .avatar {
  float: left;
  margin-right: 11px;
}
/* line 66, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .avatar img {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 72, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .comment-right {
  display: table;
}
/* line 74, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .comment-right .comment-info {
  padding-bottom: 7px;
}
/* line 76, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .comment-right .comment-info span {
  padding: 0 12px;
}
/* line 81, e:\workshopEdu\workshopEdu\css\blogSingle */
#comments .comment_info span {
  padding: 0 12px;
}
/* line 87, e:\workshopEdu\workshopEdu\css\blogSingle */
#leave-comment .btn.btn-blue {
  margin-right: 5px;
}
