/* line 3, e:\workshopEdu\workshopEdu\css\contacts */
span.required {
  font-size: 13px;
  color: #ff6666;
}
/* line 8, e:\workshopEdu\workshopEdu\css\contacts */
.button-align {
  text-align: right;
  padding-top: 25px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 15, e:\workshopEdu\workshopEdu\css\contacts */
  #date_visit {
    width: 70%;
  }
}
