@dark-blue: #2d343e;
@body-blue: #0099cc;
@dropdown-text-blue: #12b0e6;
@button-blue: #099ad1;
@tab-blue: #0f91bd;
@footer-blue: #0088cc;

@button-red: #ff6666;
@bg-color: #f8f8f8;

body {
	background: @bg-color url(http://www.ansonika.com/edu/img/pattern.jpg) repeat;
	color: #555;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header,section,nav {
	color: #fff;
}

.header-top {
	background-color: @dark-blue;
	padding: 8px 0;

	.menu-top {
		float: right;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			display: inline;
			color: #d0dbeb;
			a {
				color: #d0dbeb;
			}
		}
	}

	#phone {
		background: url(http://www.ansonika.com/edu/img/icon-phone.png) no-repeat center right;
		padding-right: 46px;
		text-align: right;
		float: right;
		font-size: 12px;
		margin-top: 5px;

		strong {
			font-size: 18px;
			color: #66cccc;
			font-weight: 700;
			display: block;
		}       
	}
}


.navbar {
	background-color: @body-blue;
	margin-bottom: 0;
	.navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-brand {
		color: #FF9;
	}

	.nav>li {
		position: inherit;
		>a {
			color: #fff;
		}
	}
	.dropdown {
		position: absolute;
	}
	.dropdown.simple-drop {
		position: relative;
	}

	.dropdown-menu {
		background-color: @dark-blue;
		padding-top: 30px;
		padding-bottom: 20px;
		margin: 0 5%;
	}
}

.btn-red {
	background-color: @button-red;
}

.btn-red:hover {
	transition: background-color .5s;
	background-color: @button-blue;
	color: #fff;
}

.btn-blue {
	background-color: @button-blue;
	color: #fff;
}

.btn-blue:hover {
	transition: background-color .5s;
	background-color: #333;
	color: #fff;
}

hr {
	margin: 0 0 20px 0;
	border: 0;
	border-top: 1px solid #25282d;
	border-bottom: 1px solid #414750;
}

h4 {
	margin: 0 0 10px 0;
}

h5 {
	margin: 0 0 10px 0;
	font-weight: bold;
}

ul.list-menu {
	list-style-type: none;
	margin: 0 0 20px 0;
	padding-left: 5px;
	li {
		background: url(http://www.ansonika.com/edu/img/arrow-2.png) no-repeat center left;
		padding-left: 12px;
	}
	a {
		
		color: @dropdown-text-blue;			
	}

	a:hover {
		color: #fff;
		text-decoration: none;
	}
}

#courses {
	.courses {
		background-color: @dark-blue;

		h5 {
			a {
				color: @dropdown-text-blue;	
			}
			a:hover {
				color: #fff;
				text-decoration: none;
			}
		}

	}
}

#school {
	.school {
		background-color: @dark-blue;

	}
}


#about {
	.about {
		background-color: @dark-blue;

		.nav.nav-tabs {
			border-bottom: 2px solid #414750;
			li.active {
				a {
					color: #fff;
					background-color: @tab-blue;
				}				
			}
			li {
				background-color: #424952;
				a {
					color: @dropdown-text-blue;
				}
				a:hover {
					color: #fff;
					background-color: #424952;
				}
			}
		}

		.tab-content {
			#staff {
				.management {
					height: 150px;
					border-radius: 10px;
					margin: 10px 10px;
					background: url(http://www.ansonika.com/edu/img/teacher-small.jpg) no-repeat;
				}
				.business {
					.management;
					background: url(http://www.ansonika.com/edu/img/teacher-small-2.jpg) no-repeat;					
				}
				.admin {
					.management;
					background: url(http://www.ansonika.com/edu/img/teacher-small-3.jpg) no-repeat;
				}
				h5 em {
					display: block;
					font-weight: normal;
					color: #999;
					font-size: 12px;
				}
			}
		}
	}
}

#pages {
	.pages {
		background-color: @dark-blue;
		a {
			display: block;
			background-color: #424952;
			color: #fff;
			border-radius: 5px;
			font-size: 14px;
			font-weight: 700;
			padding: 20px 15px;
			margin-bottom: 25px;
			
			-webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
			box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);

			i {
				float: right;
				margin: -10px 0 0 0;
			}
		}
		a:hover {
			transition: background .5s;
			background-color: @body-blue;
			text-decoration: none;
		}
	}
}

#simple-drop {
	background-color: @body-blue;
	margin-top: 5px;
	border-radius: 10px;
	li a {
		color: #fff;
	}
}

#contacts {
	.contacts {
		background-color: @dark-blue;
		ul {
			list-style-type: none;
			padding-left: 0px;
			.glyphicon {
				margin-right: .4em;
			}
			li a {
				color: @dropdown-text-blue;
			}
		}
		
	}
}

.slider {
	.flyin-img {
		position: absolute;
		top: 25%;
		right: 40%;
	}
}

.main-boxes {
	margin-top: -35px;
	position: relative;
	z-index: 1;
	margin-bottom: 35px;

	.box {
		a {
			display: block;
			font-size: 14px;
			text-shadow: 1px 1px 0 px rgba(0,0,0,.3);
			padding: 25px 25px 5px 25px;
			text-decoration: none;
			font-weight: 700;
			background-color: @body-blue;
			color: #fff;
			margin-bottom: 15px;
			border-radius: 5px;
		}
		h3 {
			margin-top: 0px;
			margin-bottom: 0px;
			color: #FF9;
			font-size: 28px;
			font-weight: bold;
		}
		img {
			float: right;
			height: auto;
			border: 0;
			vertical-align: middle;
		}
	}
	.green {
		a:hover {
			transition: background-color .8s;
			background-color: #669933;
		}
	}
	.orange a:hover {
		transition: background-color .8s;
		background-color: #F60;
	}
	.red a:hover {
		transition: background-color .8s;
		background-color: #ff6666;
	}
}